#header {
    background-color: #000;
    color: #fff;
    border-bottom: solid 1px #f59e08;
}

#header .main {
    padding: 20px;
}

.navigation {
    padding: 0 20px;
    display: flex;
    background-color: #ffefa6;
    color: #000;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    margin-left: 2rem;
    color: #000;
}

.navigation ul li:first-child {
    margin-left: 0;
}

.navigation ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.navigation ul li a:hover {
    text-decoration: underline;
    color: #333;
}