.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;

    .video-card {
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: auto;
        }

         .thumbnail-placeholder svg {
            font-size: 10rem;
        }

        .thumbnail-image-container {
            text-align: center;
        }

        .duration-overlay {
            margin-top: -2rem;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 2px 6px;
            border-radius: 2px;
            font-size: 0.8rem;
            opacity: 65%;
        }

        .video-info {
            padding: 0.5rem;

            h3 {
                margin: 0;
                font-size: 1.1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                margin: 0.5rem 0 0 0;
                font-size: 0.9rem;
                color: #666666;
            }

            .video-views {
                font-size: 0.8rem;
                color: #999999;
                margin-top: -1rem;
            }

            .video-description {
                margin-top: 0.5rem;
                font-size: 0.85rem;
                color: #888888;
            }   
        }
    }
}