#video-list {
    margin-top: 2rem;

    .edit-icon {
        color: #646cff;
        cursor: pointer;
    }

    .delete-icon {
        color: #ff4d4d;
        cursor: pointer;
    }

    tr {
        border-bottom: solid 1px #e0e0e0;
        td {
            border-bottom: 0;
            white-space: nowrap;
            /* don't let text spill into next column */
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:hover {
            background-color: #f9f9f9;
        }
    }

    .pagination-controls {
        margin-top: 1rem;
        display: flex;
        justify-content: left;

        
        button:disabled {
            background-color: #cccccc;
            cursor: not-allowed;
        }
    }
}

