#video-filters {
    min-height: 100vh;
    width: 175px;
    padding: 0 20px 0 20px;
    border-right: solid 1px #ccc;
}

#video-filters .css-nwsdb5-MuiFormLabel-root {
    margin-bottom: 0.75rem;
}

#video-filters .MuiFormControlLabel-root {
    margin-top: 0;
    margin-bottom: 0;
}

#video-filters .css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root {
    padding-top: 0;
    padding-bottom: 0;
}